name: Update nixpkgs-lib

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * SUN'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout nixpkgs-lib
      uses: actions/checkout@v5
      with:
        ref: ${{ github.ref_name }}
        fetch-depth: 0
        path: nixpkgs-lib

    - name: Bare clone nixpkgs
      run: |
        git clone --bare https://github.com/NixOS/nixpkgs.git nixpkgs.git

    - name: Install git-filter-repo
      run: pip install --user git-filter-repo

    - name: Filter nixpkgs for lib only
      run: |
        cd nixpkgs.git
        ~/.local/bin/git-filter-repo --path lib --force

    - name: Merge lib updates into nixpkgs-lib
      run: |
        cd $GITHUB_WORKSPACE/nixpkgs-lib
        git remote add upstream ../nixpkgs.git
        git fetch upstream master
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"
        git merge upstream/master --allow-unrelated-histories -X theirs

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        directory: nixpkgs-lib
        branch: ${{ github.ref_name }}
